<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
  <title>Supernotes</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="CSS/index.css">
</head>

<body>
  <%- include("navbar") -%>
  <br><br>
  <div class="div-wrapper">
    <img class = "img-floater" src="Images/logo.png" alt="">
    <h1><strong>Super Notes</strong></h1>
    <p style="text-align:left; font-size: 25px; padding-left: 30px; margin-top:-1%; font-family: Calibri;">The perfect tool to <strong>organize notes</strong> and <strong>improve studying habits</strong> through <strong>active learning.</strong </p>

      <br><br>
    <h2>What is active learning?</h2>
    <p><strong>Active learning</strong> is when the student <strong>directly interacts</strong> with material and <strong>actively participates</strong> in the learning process.</p>
    <br><br>
    <h2>How does Super Notes incorporate active learning?</h2>
    <p>We take your notes, and <strong>transform</strong> them into: </p>
    <ul class="custom-ul">
      <li>Flashcards</li>
      <li>Multiple choice questions</li>
      <li>Fill-in questions</li>
      <li>Other interactive studying methods</li>
    </ul>
    <br>
    <p>This way, we challenge you to <strong>internalize the information.</strong> Research shows that neural pathways are activated during active learning, leading to deeper internalization of concepts and facts. As you practice <strong>rehearsal
        techniques</strong> through the <strong> interactive modules </strong> offered by <em>Super Notes</em>, you will be able to memorize your notes better.</p>
    <br><br>
    <h2>What are some organizational benefits?</h2>
    <p>As schools adapt to learning during COVID-19, class resources have become increasingly digital. As students transition into taking online notes, it can become increasingly difficult to keep track of the location of their notes.</p>

    <br>

    <p><em>Super Notes</em> is the perfect solution -- it can <strong>store</strong> all of your notes (including slides presentations from teachers, pdfs, and even websites), and enables you to <strong>share</strong> them easily with classmates or teachers with a single link.</p>
    <br><br>
    <h2>Need some stats?</h2>
    <p>A study showed that short term recall information improved by <strong style="font-size: 30px;">36%</strong> when using active learning, as opposed to traditional learning.</p>
    <p><em>&nbsp;&nbsp;&nbsp;&nbsp;~ Professor Michael Prince at Bucknell University</em></p>

    <br>
    <center>
      <a href="/tutorial"><button class="btn"><strong>Start Now!</strong></button></a>
    </center>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="JS/new.js" charset="utf-8"></script>
</body>

</html>
