<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <div style="border-radius: 10px; padding: 30px; border: 1px solid gray; font-family: sans-serif">
        Success! Access the note from anywhere using this link:
        <a href="/note/<%=noteId%>">Click Me!</a>
      </div>
    </center>



  </body>
</html>
